.column {
  margin-top: 3rem;
  margin-left: 0.5rem;
  min-width: 300px;
  height: auto;

  &:last-child {
    margin-right: 3rem;
  }

  .no-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }

  .add-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
